<div class="post column">
  <div class="row">

    <%= user_avatar(post.user) %>
    <div class="column post-user-details">
      <p class="user-name">
        <%= link_to post.user.name, profile_path(post.user) %> 
      </p>
      <span class="post-created-at"><%= time_ago_in_words post.created_at %> </span>
    </div>
  </div>
  <div class="post-body">
    <%= post_image(post) %>
    <div class="post-text">
      <p>
        <%= post.content %>
      </p>
    </div>
    <div class="post-actions row">
      <div class="comments row post-action">
        <span class="count">
          <%= post.comments.count %>
        </span>
        <%= link_to  fa_icon("comment-o"), post_path(post) %>
      </div>
      <div class="likes row post-action">
        <span class="count">
          <%= post.likes.count %>
        </span>
        <%= post_like_button(post) %>
      </div>
    </div>
  </div>
  <div class="comment-form-holder">
    <div class="comment-form">
      <% if controller_name != 'users' %>
          <%= render  "shared/comment_form", post: post %>
      <% end %>
    </div>
  </div>
</div>
