<% @post.comments.each do |comment| %>
  <div class="post row">
    <div>
      <%= user_avatar(comment.user) %>
    </div>
    <div>
      <p><%= comment.user.name %> <span class="post-created-at"><%= time_ago_in_words(@post.created_at) %></span></p>
      <p class="post-comment">
        <%= comment.content %>
      </p>
      <div class="post-action row">
        <div data-behaviour = "<%= comment.id%>">
          <%= comment_like_button(comment)%> 
        </div>
        <span class="count" data-behaviour="count-<%=comment.id%>">
          <%= comment.likes.count %>
        </span>
      </div>
    </div>
  </div>
  <hr>
<% end %>