<div class="post">
  <%= post.user.name %>
  <%= post.content %>
  <div class="comments">
    <%= link_to  fa_icon("chat"), new_post_comment_path(post) %>
  </div>
  <div class="likes row">
    <%= post.likes.count %>
    <%= link_to  fa_icon("heart"), post_likes_path(post), method: :post %>
  </div>
</div>