<div class="post">
  <%= post.user.name %>
  <%= post.content %>
  <%= link_to  fa_icon("heart"), post_likes_path(post), method: :post %>
  <div class="post-comments">
    <% post.comments.each do |comment| %>
      <p class="post-comment">
        <%= comment.content %>
      </p>
    <% end %>
  </div>
  <%= form_for [post, @comment] do |f| %>
    <%= f.text_area :content %>
    <%= f.submit "Comment"%>
  <% end %>
</div>