<div class="timeline row">
  <div class="timeline-left">
    <div class="user-details row">
      <%= user_avatar(current_user) %> 
      <span>
        <%= current_user.name %>
      </span>
    </div>
    
    <div class="post-creation-holder">
        <%= render  "form" %>
    </div>

    <hr>
   <%= render  "stats" %>
    <hr>

    <div class="friend-requests-sent friend-requests">
      <div class="request-section-header row">
        <%= render  "sent_requests" %>
    </div>
    </div>

    <hr>
    <div class="friend-requests-received friend-requests">
      <div class="request-section-header row">
        <%= render  "received_requests" %>
      </div>
    </div>
  <div class="timeline-center column">
    <div class="posts">
      <% @posts.each do |post|%>
        <%= render post %>
      <% end %>
    </div>
  </div>

  <div class="timeline-right">
     
  </div>
</div>
